/* Squares */
.square{
  background: white;
  border: 1px solid gray;
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding:0;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 80px;
}
.square:focus{
  outline: none;
}
.square:hover {
  background: #eee;
}

/* Board */
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
/* Game */
.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  flex-direction: row;
  margin: 0 auto;  
}

.head{
  text-align: center;
}

.game-info{
  text-align: center;
}